.mercure {
    background-color: orangered;
}

.venus {
    background-color: yellow;
}

.terre {
    background-color: blue;
}

.jupiter {
    background-color: orange;
}

.mars {
    background-color: green;
}

.neptune {
    background-color: lightblue;
}

.uranus {
    background-color: grey;
}

.saturne {
    background-color: lightgreen;
}